
.header {
  height: 158px;
  width: 100%;
  background: #e67575;
}
body {

}
.content {
width:614px;
height: 250px;
padding: 2px;
margin: 0 auto;
background: #df97c7;
}
.aside {
  background: #e4e4e4;
}
.sidebar {
  height: 300px;
  margin: auto;
  background: #8c8f96;
}
.main {
    width: 664px;
	background: #d2ff53;
}
.footer {
height: 20px;
background: #df97c7;
}
* {
  margin: 0;
  padding: 0;
}

a#nav-home {
	background: #2a61dc;
}
a#nav-about {
	    background: #df97c7;
}
a#nav-contact {
	background: #ffdc31;
}
a#nav-faq {
	background: #654d4d;
}
.block {
	background: #ffdc31;
	
}
.sidebar li {
    padding: 2px;
    border: 1px solid black;
    width: auto;
    background: #fff;
}
.page {
    margin: auto;
    background: #7d7d7d;
    padding: 10px;
	margin: 0;
}
 
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}
/* Navigation */

#navigation {
    /* margin: 3% 0 5% 0; */
    padding: 2px;
    margin-top: 1%;
    margin-right: auto;
    margin-left: 24%;
	width: 500px;
	height: 200px;
	background: #6a516f;
}

#navigation a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding-top: 82px;
	float: left;
	width: 90px;
	height: 30px;
	font-size: 1.3em;
}

