
.header {
  height: 158px;
  background: #e67575;
}
body {

}

.aside {
  background: #e4e4e4;
}
.main {
    width: 664px;
	background: #d2ff53;
}
.m {
}
.footer {
height: 20px;
background: #df97c7;
}
* {
  margin: 0;
  padding: 0;
}
#navigation {
    /* margin: 3% 0 5% 0; */
    padding: 2px;
    margin-top: 1%;
    margin-right: auto;
    margin-left: 24%;
}

#navigation a {
    display: block;
    background: #ff3c3c;

    width: 90px;

}

a#nav-home {
	background: #f4242;
}
a#nav-about {
	background: #ffff;
}
a#nav-contact {
	background: #ffdc31;
}
a#nav-faq {
	background: #ffd42;
}
.block {
	background: #ffdc31;
	
}
.page {
  max-width: 1980px;
  margin: auto;
}
 
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}
/* Navigation */

#navigation {
    /* margin: 3% 0 5% 0; */
    padding: 2px;
    margin-top: 1%;
    margin-right: auto;
    margin-left: 24%;
}

#navigation a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 82px;
	float: left;
	width: 90px;
	height: 30px;
	font-size: 1.3em;
}

